.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 1023px) {
  .navlinks {
    display: none;
  }
}

.separator {
  margin-left: 1rem;
  margin-right: 1rem;
}
