#root {
  max-width: 1280px;
  text-align: center;
  height: 100dvh;
}

@media (max-width: 600px) {
  #root {
    padding: 0;
  }
}

.App {
  display: grid;
  grid-template-columns: 1.25fr 0.5fr 1.25fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "Header Header Header"
    "Question Result Options"
    "Footer Footer Footer";
  height: 100dvh;
  width: 100dvw;
}

.button {
  font-size: large;
  margin: 1rem;
  padding: 0.5rem;
}

.Header {
  top: 0;
  position: fixed;
  width: 100%;
  background: rgba(21, 54, 61, 1) 100%;
  color: white;
}

.Footer {
  grid-area: Footer;
  width: 100%;
  position: fixed;
  bottom: 0;

  background: rgba(21, 54, 61, 1) 100%;
  color: white;
  padding: 1rem;
}

.Question {
  grid-area: Question;
  align-items: center;
  display: flex;
  padding: 1rem;
}

.Options {
  grid-area: Options;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  align-items: center;
}

.OptionButton {
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  font-size: large;
}

.Result {
  grid-area: Result;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 100rem;
}
