#root {
  max-width: 1280px;
  text-align: center;
  height: 100dvh;
}

@media (max-width: 600px) {
  #root {
    padding: 0;
  }
}

.optionButton {
  font-size: small;
  margin: 1rem;
}

.Header {
  top: 0;
  position: fixed;
}

.Footer {
  grid-area: Footer;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.Question {
  grid-area: Question;
  align-items: center;
}
